{% extends "base_site.html"%}

{% block title %}
Filter by system
{% endblock %}

{% block content %}
<table>
<tr><td>System name</td><td>{{system_name}}</td></tr>
<tr><td>Number of domain(s)</td><td>{{domain_number}}</td></tr>
<tr><td>Number of case(s)</td><td>{{website_number}}</td></tr>
</table><br><br>
<table>
<thead>
<th>Date</th><th>Domain Name</th><th>Defacer</th><th>System</th><th>Web Server</th><th>IP Address</th><th>Link Address</th>
</thead>
   {% for list in domain_list %}
      <tr>
      <td> <a href="../../detail/{{list.domain.date_defaced}}/">{{list.domain.date_defaced}}</a></td>
      <td> <a href="../../{{list.domain.mirror}}/">{{list.domain_name}}</a></td>
      <td> <a href="../../defacer/{{list.domain.defacer_name_id}}/">{{list.domain.defacer_name}}</a></td>
      <td> <a href="../../system/{{list.domain.system_type_id}}/">{{list.domain.system_type}}</a></td>
      <td> <a href="../../webserver/{{list.domain.web_server_id}}/">{{list.domain.web_server}}</a></td>
      <td> <a href="../../whois/{{list.domain.ip_address}}/">{{list.domain.ip_address}}</a></td>
      <td> {{list.link_address }}</td>
      </tr>
   {% endfor %}
</table>
{% endblock %}
